In [2]:
import pandas as pd

In [3]:
wajib = pd.read_csv('Matkul Wajib.csv', delimiter=';')
wajib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Semester     49 non-null     int64
 1   Code         49 non-null     object
 2   Course Name  49 non-null     object
 3   Credits      49 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [4]:
pilihan = pd.read_csv('Matkul Pilihan.csv', delimiter=';')
pilihan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           54 non-null     int64
 1   Course Code  54 non-null     object
 2   Course Name  54 non-null     object
 3   Credit       54 non-null     int64
 4   Description  54 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

In [5]:
rmk = pd.read_csv('RMK Matkul.csv', delimiter=';')
rmk

,Course Code,Course Name,RMK
0,EF234101,Fundamental Programming,Algoritma Pemrograman (ALPRO)
1,EF234201,Data Structure,Algoritma Pemrograman (ALPRO)
2,EF234301,Web Programming,Algoritma Pemrograman (ALPRO)
3,EF234302,Object Oriented Programming,Algoritma Pemrograman (ALPRO)
4,EF234405,Algorithm Design and Analysis,Algoritma Pemrograman (ALPRO)
...,...,...,...
80,EF234507,Wireless Network,Teknologi Jaringan & Keamanan Siber Cerdas (NE...
81,EF234606,Network Security,Teknologi Jaringan & Keamanan Siber Cerdas (NE...
82,EF234607,Application Security,Teknologi Jaringan & Keamanan Siber Cerdas (NE...
83,EF234703,IoT Technology,Teknologi Jaringan & Keamanan Siber Cerdas (NE...
84,EF234705,Digital Forensics,Teknologi Jaringan & Keamanan Siber Cerdas (NE...

In [6]:
wajib_merge = wajib.merge(rmk, how='left', on ='Course Name')
wajib_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Semester     50 non-null     int64
 1   Code         50 non-null     object
 2   Course Name  50 non-null     object
 3   Credits      50 non-null     int64
 4   Course Code  29 non-null     object
 5   RMK          29 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [7]:
wajib_merge[wajib_merge['RMK'].isnull()]

,Semester,Code,Course Name,Credits,Course Code,RMK
0,1,SM234101,Calculus 1,3,NaN,NaN
9,2,SM234201,Calculus 2,3,NaN,NaN
10,2,EW234201,Introduction to Intelligent Electrical and Inf...,2,NaN,NaN
30,5,EF234505,Knowledge based Engineering,3,NaN,NaN
31,5,Elective 1,Elective Course,3,NaN,NaN
32,5,Elective 2,Elective Course,3,NaN,NaN
33,6,UG234914,English,2,NaN,NaN
34,6,UG234915,Technopreneurship,2,NaN,NaN
35,6,UG23490X,Religion,2,NaN,NaN
36,6,UG234913,Civics,2,NaN,NaN
39,6,EF234622,Capstone Project,3,NaN,NaN
40,6,EF234603,Practical Work,4,NaN,NaN
41,7,UG234912,Indonesian,2,NaN,NaN
42,7,UG234911,Pancasila,2,NaN,NaN
43,7,UG234916,Applied Technology and Digital Transformation,3,NaN,NaN
44,7,EF234701,Professional Ethics,2,NaN,NaN
45,7,EF234702,Undergraduate Pre-Thesis,2,NaN,NaN
46,7,Elective 3,Elective Course,3,NaN,NaN
47,7,Elective 4,Elective Course,3,NaN,NaN
48,7,Enrichment,Enrichment Course,3,NaN,NaN
49,8,EF234801,Final Project,5,NaN,NaN

In [8]:
wajib_merge.head()

,Semester,Code,Course Name,Credits,Course Code,RMK
0,1,SM234101,Calculus 1,3,NaN,NaN
1,1,EF234101,Fundamental Programming,4,EF234101,Algoritma Pemrograman (ALPRO)
2,1,EF234102,Digital System,3,EF234102,Komputasi Berbasis Jaringan (KBJ)
3,1,EF234103,Linear Algebra,3,EF234103,Pemodelan & Komputasi Terapan (PKT)
4,1,EF234104,Database System,4,EF234104,Manajemen Cerdas Informasi (MCI)

In [9]:
pilihan_merge = pilihan.merge(rmk, how='left', on ='Course Name')
pilihan_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   No             57 non-null     int64
 1   Course Code_x  57 non-null     object
 2   Course Name    57 non-null     object
 3   Credit         57 non-null     int64
 4   Description    57 non-null     object
 5   Course Code_y  56 non-null     object
 6   RMK            56 non-null     object
dtypes: int64(2), object(5)
memory usage: 3.2+ KB

In [10]:
pilihan_merge[pilihan_merge['RMK'].isnull()]

    No Course Code_x Course Name  Credit      Description Course Code_y  RMK
56  54      EF234722  Internship       6  Elective Course           NaN  NaN

In [11]:
pilihan_fix = pilihan_merge[['Course Code_x', 'Course Name', 'Credit', 'RMK']].rename(columns={'Course Code_x': 'Course Code'})
pilihan_fix.to_csv('Matkul Pilihan with RMK.csv', index=False, sep=',')

In [12]:
pilihan_fix.head()

,Course Code,Course Name,Credit,RMK
0,EF234506,Inter-Network Technology,3,Komputasi Berbasis Jaringan (KBJ)
1,EF234506,Inter-Network Technology,3,Teknologi Jaringan & Keamanan Siber Cerdas (NE...
2,EF234507,Wireless Network,3,Komputasi Berbasis Jaringan (KBJ)
3,EF234507,Wireless Network,3,Teknologi Jaringan & Keamanan Siber Cerdas (NE...
4,EF234508,Distributed System,3,Komputasi Berbasis Jaringan (KBJ)

In [13]:
wajib_merge.rename(columns={'Code': 'Course Code', 'Credits': 'Credit'}).to_csv('Matkul Wajib with RMK.csv', index=False, sep=',')

In [14]:
wajib_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Semester     50 non-null     int64
 1   Code         50 non-null     object
 2   Course Name  50 non-null     object
 3   Credits      50 non-null     int64
 4   Course Code  29 non-null     object
 5   RMK          29 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [ ]:
pilihan_fix.info()

In [15]:
pilihan_fix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Course Code  57 non-null     object
 1   Course Name  57 non-null     object
 2   Credit       57 non-null     int64
 3   RMK          56 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.9+ KB

In [36]:
data_dummy = pd.read_csv('generated_dummy_data.csv')
data_dummy.head()

,kode_mhs,nama_prodi,id_smt,kode_mk,nama_mk,RMK,sks,nilai_akhir,nilai_huruf,Tahun angkatan,Semester_sekarang,Deskripsi Matkul
0,5025211001,Teknik Informatika,1,SM234101,Calculus 1,Non-Rumpun,3,78,AB,2021,8,wajib
1,5025211001,Teknik Informatika,1,EF234101,Fundamental Programming,Algoritma Pemrograman (ALPRO),4,57,C,2021,8,wajib
2,5025211001,Teknik Informatika,1,EF234102,Digital System,Komputasi Berbasis Jaringan (KBJ),3,92,A,2021,8,wajib
3,5025211001,Teknik Informatika,1,EF234103,Linear Algebra,Pemodelan & Komputasi Terapan (PKT),3,66,B,2021,8,wajib
4,5025211001,Teknik Informatika,1,EF234104,Database System,Manajemen Cerdas Informasi (MCI),4,76,AB,2021,8,wajib

In [37]:
data_dummy[data_dummy['kode_mhs'] == 5025221001]

,kode_mhs,nama_prodi,id_smt,kode_mk,nama_mk,RMK,sks,nilai_akhir,nilai_huruf,Tahun angkatan,Semester_sekarang,Deskripsi Matkul
1960,5025221001,Teknik Informatika,1,SM234101,Calculus 1,Non-Rumpun,3,79,AB,2022,7,wajib
1961,5025221001,Teknik Informatika,1,EF234101,Fundamental Programming,Algoritma Pemrograman (ALPRO),4,69,B,2022,7,wajib
1962,5025221001,Teknik Informatika,1,EF234102,Digital System,Komputasi Berbasis Jaringan (KBJ),3,77,AB,2022,7,wajib
1963,5025221001,Teknik Informatika,1,EF234103,Linear Algebra,Pemodelan & Komputasi Terapan (PKT),3,17,E,2022,7,wajib
1964,5025221001,Teknik Informatika,1,EF234104,Database System,Manajemen Cerdas Informasi (MCI),4,79,AB,2022,7,wajib
1965,5025221001,Teknik Informatika,2,EF234201,Data Structure,Algoritma Pemrograman (ALPRO),4,100,A,2022,7,wajib
1966,5025221001,Teknik Informatika,2,EF234202,Operating System,Komputasi Berbasis Jaringan (KBJ),4,99,A,2022,7,wajib
1967,5025221001,Teknik Informatika,2,EF234203,Computer Organization,Komputasi Berbasis Jaringan (KBJ),3,88,A,2022,7,wajib
1968,5025221001,Teknik Informatika,2,EF234204,Numerical Computation,Pemodelan & Komputasi Terapan (PKT),3,85,AB,2022,7,wajib
1969,5025221001,Teknik Informatika,2,SM234201,Calculus 2,Non-Rumpun,3,68,B,2022,7,wajib
1970,5025221001,Teknik Informatika,2,EW234201,Introduction to Intelligent Electrical and Inf...,Non-Rumpun,2,96,A,2022,7,wajib
1971,5025221001,Teknik Informatika,3,EF234301,Web Programming,Algoritma Pemrograman (ALPRO),3,67,B,2022,7,wajib
1972,5025221001,Teknik Informatika,3,EF234302,Object Oriented Programming,Algoritma Pemrograman (ALPRO),3,89,A,2022,7,wajib
1973,5025221001,Teknik Informatika,3,EF234303,Computer Network,Komputasi Berbasis Jaringan (KBJ),4,94,A,2022,7,wajib
1974,5025221001,Teknik Informatika,3,EF234304,Graph Theory,Pemodelan & Komputasi Terapan (PKT),3,83,AB,2022,7,wajib
1975,5025221001,Teknik Informatika,3,EF234305,Discrete Mathematics,Pemodelan & Komputasi Terapan (PKT),3,94,A,2022,7,wajib
1976,5025221001,Teknik Informatika,3,EK234201,Artificial Intelligence Concepts,Komputasi Cerdas Visi (KCV),3,94,A,2022,7,wajib
1977,5025221001,Teknik Informatika,3,EF234307,Software Development Principles,Rekayasa Perangkat Lunak (RPL),2,95,A,2022,7,wajib
1978,5025221001,Teknik Informatika,4,EF234401,Network Programming,Komputasi Berbasis Jaringan (KBJ),3,100,A,2022,7,wajib
1979,5025221001,Teknik Informatika,4,EF234402,Probabilistic and Statistic,Pemodelan & Komputasi Terapan (PKT),3,81,AB,2022,7,wajib
1980,5025221001,Teknik Informatika,4,EF234403,Automata,Pemodelan & Komputasi Terapan (PKT),2,98,A,2022,7,wajib
1981,5025221001,Teknik Informatika,4,EF234404,Database Management,Manajemen Cerdas Informasi (MCI),3,100,A,2022,7,wajib
1982,5025221001,Teknik Informatika,4,EF234405,Algorithm Design and Analysis,Algoritma Pemrograman (ALPRO),3,76,AB,2022,7,wajib
1983,5025221001,Teknik Informatika,4,EF234406,Machine Learning,Komputasi Cerdas Visi (KCV),3,99,A,2022,7,wajib
1984,5025221001,Teknik Informatika,4,ER234301,Software Design,Rekayasa Perangkat Lunak (RPL),3,84,AB,2022,7,wajib
1985,5025221001,Teknik Informatika,5,EF234501,Framework-based Programming,Algoritma Pemrograman (ALPRO),3,98,A,2022,7,wajib
1986,5025221001,Teknik Informatika,5,EF234502,Information Security,Komputasi Berbasis Jaringan (KBJ),3,73,B,2022,7,wajib
1987,5025221001,Teknik Informatika,5,EF234502,Information Security,Teknologi Jaringan & Keamanan Siber Cerdas (NE...,3,89,A,2022,7,wajib
1988,5025221001,Teknik Informatika,5,EF234503,Modeling and Simulation,Pemodelan & Komputasi Terapan (PKT),3,84,AB,2022,7,wajib
1989,5025221001,Teknik Informatika,5,EF234504,Computer Graphics,"Grafika, Interaksi, Gim dan Analitika (GIGA)",3,75,B,2022,7,wajib
1990,5025221001,Teknik Informatika,5,EF234505,Knowledge based Engineering,Non-Rumpun,3,94,A,2022,7,wajib
1991,5025221001,Teknik Informatika,5,EF234617,Geographic Information Systems,Manajemen Cerdas Informasi (MCI),3,69,B,2022,7,pilihan
1992,5025221001,Teknik Informatika,5,EF234714,Special Topics in Algorithms and Programming,Algoritma Pemrograman (ALPRO),3,92,A,2022,7,pilihan
1993,5025221001,Teknik Informatika,6,UG234914,English,Non-Rumpun,2,89,A,2022,7,wajib
1994,5025221001,Teknik Informatika,6,UG234915,Technopreneurship,Non-Rumpun,2,66,B,2022,7,wajib
1995,5025221001,Teknik Informatika,6,UG23490X,Religion,Non-Rumpun,2,100,A,2022,7,wajib
1996,5025221001,Teknik Informatika,6,UG234913,Civics,Non-Rumpun,2,85,AB,2022,7,wajib
1997,5025221001,Teknik Informatika,6,EF234601,Mobile Programming,Algoritma Pemrograman (ALPRO),3,81,AB,2022,7,wajib
1998,5025221001,Teknik Informatika,6,EF234602,Human and Computer Interaction,"Grafika, Interaksi, Gim dan Analitika (GIGA)",3,66,B,2022,7,wajib
1999,5025221001,Teknik Informatika,6,EF234622,Capstone Project,Non-Rumpun,3,81,AB,2022,7,wajib
2000,5025221001,Teknik Informatika,6,EF234603,Practical Work,Non-Rumpun,4,68,B,2022,7,wajib
2001,5025221001,Teknik Informatika,7,UG234912,Indonesian,Non-Rumpun,2,98,A,2022,7,wajib
2002,5025221001,Teknik Informatika,7,UG234911,Pancasila,Non-Rumpun,2,89,A,2022,7,wajib
2003,5025221001,Teknik Informatika,7,UG234916,Applied Technology and Digital Transformation,Non-Rumpun,3,82,AB,2022,7,wajib
2004,5025221001,Teknik Informatika,7,EF234701,Professional Ethics,Non-Rumpun,2,73,B,2022,7,wajib
2005,5025221001,Teknik Informatika,7,EF234702,Undergraduate Pre-Thesis,Non-Rumpun,2,65,BC,2022,7,wajib
2006,5025221001,Teknik Informatika,7,EF234610,Agent Based Simulation,Pemodelan & Komputasi Terapan (PKT),3,100,A,2022,7,pilihan
2007,5025221001,Teknik Informatika,7,EF234716,"Special Topics in Graphics, Interaction and Games","Grafika, Interaksi, Gim dan Analitika (GIGA)",3,68,B,2022,7,pilihan